 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-family: Poppins;
  color: #f0f0f0;
}
body{
  height: 100vh;
  background: #0b0d15;
  color: #a2a5b3;
  
}
.cont{
  height: auto;
  width: 100%;
  display:flex;
   flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: center;
}

a{
  color: rgb(4, 245, 193);
}

.card{
   margin :30px 10px;
  display: inline-block;
  padding: 2em;
  width: 200px;
  background:  #0b0d15;
  text-align: center;
  border-radius: 10px;
  position: relative;
  
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 0.8s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

  footer {
  width: 100%;
  background-color: blueviolet;   /* Footer ka background */
  padding: 15px 0;               /* Upar niche spacing */
  display: flex;
  justify-content: center;       /* Horizontal center */
  align-items: center;           /* Vertical center */
  position: fixed;               /* Fix footer */
  bottom: 0;                     /* Always bottom */
  left: 0;                       /* Left se start */
  z-index: 1000;                 /* Sabse upar rahe */
}

footer .panel p {
  margin: 0;
  font-size: 18px;
  color: #cacfe6;  /* Text color */
  text-align: center;
}
